.library {
  padding-top:12px;
  padding-left:12px;
  padding-right:12px;
}
.library-title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 12px;
  padding-left: 6px;
}

.cover {
  background-color: @theme_bg_color;
  border:1px solid mix(@theme_bg_color, @theme_fg_color, 0.9);
  box-shadow: 1px 1px 6px 2px shade(@theme_bg_color, 0.5);
  border-radius: 6px;
}
.chapter-label {
padding-top: 10px;
font-weight: 600;
}

